.home-page {
  &__carousel-item {
    height: calc(100vh - 56px);
  }

  .a1 {
    background-color: black;
  }

  .a2 {
    background-color: green;
  }
}

.logo {
  height: 30px;
  width: 30px;
}

.session-page,
.scholarship-page {
  display: flex;
  justify-content: center;
}

.level-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.level-page {
  padding-top: 6rem;
}

.list-group-btn {
  position: relative;
  left: -0.75rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #a89edc;
  cursor: pointer;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

li {
  cursor: pointer;
}

.breadcrumb-item {
  color: #4f4f4f;
  cursor: pointer;

  &:hover {
    color: #21ade4;
  }

  &_disabled {
    color: #a5a5a5;
    cursor: default;

    &:hover {
      color: #a5a5a5;
    }
  }
}

.line {
  border-bottom: 2px solid grey;
  width: 100%;
}

.circle {
  border: 3px solid #00a9ec;
  border-radius: 50%;
  background-color: #e8f2ff;
  color: #314867;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.institution-btn {
  background-color: #e8f2ff;
  border-color: #e8f2ff;
  color: #314867;

  &_selected {
    background-color: #00a9ec;
    border-color: #00a9ec;
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #00a9ec;
    border-color: #00a9ec;
  }
}

.group-btn {
  background-color: #fff;
  border-color: #fff;
  color: #4f4f4f;

  &:hover,
  &:focus {
    background-color: #e8f2ff;
    border-color: #e8f2ff;
    color: #4f4f4f;
  }
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.level-page__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
