.home-page {
  &__carousel-item {
    height: calc(100vh - 56px);
  }

  .a1 {
    background-color: black;
  }

  .a2 {
    background-color: green;
  }
}

.logo {
  height: 30px;
  width: 30px;
}

.session-page,
.attestation-page,
.scholarship-page {
  display: flex;
  justify-content: center;
}

.departments-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-list {
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a89edc;
    cursor: pointer;

    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
}

li {
  cursor: pointer;
}
