.list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & > li {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    color: $dark;
    background-color: $light;
    white-space: nowrap;
    border-radius: 0.25rem;

    &:hover {
      color: $dark;
      background-color: $blue;
      color: $white;
    }

    &:before {
      content: counter(list);
      counter-increment: list;
      position: absolute;
      left: -2rem;
      top: -0.25rem;
      bottom: -0.25rem;
      width: 2.5rem;
      line-height: 2rem;
      border-radius: 1.25rem;
      border: 0.25rem solid $white;
      text-align: center;
      color: $dark;
      background-color: $light;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
